.body{
    margin: 0;
}
.background{
    width: 100%;
    height:  100vh;
    background-image: url("../img/background3.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}

.boy{
    height: 210px;
    margin-top: 460px;
    position: absolute;
}
.box{
    width: 90px;
    height: 90px;
   background-image: url("../img/fire.gif");
    position: absolute;
    margin-top: 580px;
    background-size: contain;
    background-repeat: no-repeat;

}
.scoreContainer{
    display: flex;
    justify-content: flex-end;
}
#scoreBoard{
    top: -50px;
    height: 56px;
    width: 135px;

}

.score{
    top: 5px;
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    font-weight: bold;
    z-index: 10;
    position: absolute;
    margin-left: 50px;
    right: 45px;
}

/*.end{*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    position: absolute;*/
/*    background-image: linear-gradient(90deg, #8E0E00 0%, #1F1C18 100%);*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: 90px;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    font-family: "Broadway";*/
/*    visibility: hidden;*/
/*}*/

#controlsWrapper{
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/*.btn{*/
/*    height: 35px;*/
/*    width: 300px;*/
/*    margin-top: 50px;*/
/*    font-size: 25px;*/
/*    font-weight: 1000;*/
/*    background-color: #063c8d;*/
/*    border: none;*/
/*    border-radius: 20px;*/

/*}*/
/*.btn:hover{*/
/*    height: 37px;*/
/*    width:305px ;*/
/*    background-color: #00e9e9;*/
/*    cursor: pointer;*/
/*    color: rgb(0,0,0);*/
/*}*/

#controlsWrapper > button {
    width: 55px;
    height: 55px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

#controlsWrapper > button:hover {
    width: 60px;
    height: 60px;
}

#controlsWrapper > button#btnSound {
    background-image: url("../../assets/img/Button 3.png");
    background-size: cover;
    background-position: center;
}

div#controlsWrapper > button#btnPause {
    background-image: url("../../assets/img/peuse.png");
    background-size: cover;
    background-position: center;
}

div#controlsWrapper > button#btnResume {
    background-image: url("../../assets/img/play.png");
    background-size: cover;
    background-position: center;
}

div#controlsWrapper > button#btnRestart {
    background-image: url("../../assets/img/refresh.png");
    background-size: cover;
    background-position: center;
}

#controlsWrapper > #move {
    width: 15px;
    height: 15px;
    position: relative;
    top: -10px;
    right: 3px;
}

#controlsWrapper > #move:hover {
    cursor: grabbing;
}

#controlsWrapper > #move:active {
    cursor: grab;
}

div#controlsWrapper #move > i {
    position: relative;
    width: 15px;
    height: 15px;
    color: black;
}

div#controlsWrapper > button#btnPause.pause {
    width: 60px;
    height: 60px;
}

div#controlsWrapper > button#btnSound.sound-on {
    width: 60px;
    height: 60px;
}

.bgBlur {
    filter: blur(8px);
    -webkit-filter: blur(2px);
}

section#pause-bg {
    display: none;
    width: 30%;
    height: 65%;
    background-image: url('../../assets/img/character1/Idle (2).png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#gameOverWrapper {
    display: none;
    width: 30%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: spin 4s linear;
}
#gameOver_title-img {
    height: 85%;
    background-image: url('../../assets/img/over.png');
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(360deg);
    }

    75% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#gameWin_title-img {
    display: none;
    width: 80%;
    height: 20%;
    background-image: url('../../assets/img/winner.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: x 4s linear;
}

@keyframes x {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.75;
    }

    75% {
        opacity: 1;
    }
}

.btnNext {
    display: none;
    width: 71px;
    height: 71px;
    background-image: url('../../assets/img/next.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 62%;
    left: 69%;
}

.btnNext:hover {
    width: 80px;
    height: 80px;
    cursor: pointer;
}